*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;

}

.card{
    border: 1px solid black;
    border-radius: 5px;
    padding: 16px;
}